



.header_container{
    font-size: 25px;
    text-align: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px -6px #333;
    
 
  
}

.anchors:hover {
    border-bottom:1px solid black;
}

.anchors {

    text-decoration: none;
    color: black ;
    padding:8px ;
    padding-bottom: 0px;
    margin:10px;
    background-color: transparent;
}

.users_img{
    position: relative;
    top:4px;
     left:-2px
}

.user_img{
    position: relative;
    top:3px;
    width:24px;
}

.tittle{

     font-family: 'Playball';
     display: flex;
     flex-direction: row;
     padding-top: 0px;
     margin:2px;
     font-size: 50px;
     text-decoration:none;

}

.tittleAnchor{
    display: inline ;

}

.main_anchors{
    color: red;
    text-decoration: none;
    border-radius: 10px;
    padding:8px;
    margin:10px;
    font-size: 25px;
    background-color: transparent;
    font-family: 'Cookie', cursive;
    

}


.paintbrush{
    width: 100px;
    height: 100px;
}

