


.comments_whole{
    color:black;
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 50px;
    margin-left: 16%;
    padding-left: 30px;
    max-height: 600px;
    overflow: scroll;
}


.comment_name{
    color: black;
}

