



.titleColorpickerimg{
    width: 20px;
    height:20px;
    position: absolute;
    left:970px;
    top:40px;
}

.titlecolorpicker{
    position: absolute;
    left: 993px;
    top:43px;
    z-index: 1000;
}
.titlebox{
    width:250px;
    position:absolute;
    top:40px;
    left:700px;
    padding: 5px;
}
.contentbox{
    width:1000px;
    height:400px;
    position:absolute;
    top:100px;
    left:300px;
}