



.top_btn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    width:50px;
    border-radius: 50%;
}

.top_btn:hover{
    color: skyblue;
    background-color: #555;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr ;

}

.home_posts{
    width: 1300px;
}