
@media  ( min-width: 760px){
    
    .main_box{
        margin-top:8% ;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1300px;
        left: 7%;
        
            
        }

        .main_title{
            display: flex;
            font-size: 100px;
            flex-direction: column;
        
           
        }
    
        .main_title1{
            margin-top: 0px;
            margin-bottom:-35px ;
            color:#f5a742;

    
        }
        .main_title2{
            margin-top: -30px;
            margin-left: -14px;
            margin-bottom:0px ;
            color:rgb(9, 101, 168);
            
        }
 
     
.main_blog{
    color:black;
   width:141px;
   font-size: 25px;
   display:flex;
   margin-left: 35%;
   padding: 1px;
   position: absolute;
   text-decoration: none;
   margin-top: 16px;
   font-weight: bold;
   left: -2%;
}
.main_blog:hover{
    
    border-bottom : 2px solid rgb(9, 101, 168);
    cursor:pointer;
  }



.main_art{
    
    position: absolute;
    width:220px;
    font-size: 25px;
    display:flex;
    color:black;
    margin-left:11%;
    font-weight: bold;
    margin-top:15px;
    text-decoration: none;
    left: 1%;
}
    .main_art:hover{
      border-bottom : 2px solid #f5a742;
      cursor:pointer;
    }

    .main_image{
        width:470px;
        max-width: 500px;
        height: 350px;
     
    }

    .main_article_info{
        position: absolute;
        font-size: 40px;
        margin-top:250px;
        margin-left:393px ;
        width:800px;

    }

   .main_sb_info{
    position: absolute;
    font-size: 40px;
    margin-top:570px;
    margin-left:393px ;
    width:800px
   }

   .main_posts_info{
    position: absolute;
    font-size: 40px;
    margin-top:850px;
    margin-left:393px ;
    width:800px
   }

   .main_security_info{
    position: absolute;
    font-size: 40px;
    margin-top:1130px;
    margin-left:393px ;
    width:800px
   }


   .main_info_title{
    font-family: Roboto;
    margin-left:5px;
   }

}

.paint_brush{
    position: absolute;
    left: 35%;
    width:200px;
    height: 200px;
    top:7%
}

@media (max-width:760px ){



        .main_image{
            display: none;     
        }
        .main_title{
         font-size: 30px;
         display: flex;
         flex-direction: row;
        }
    
        .main_title1{
            margin-left: 10px;
        }
        .main_title2{

            
        }
        .paint_brush{
            position: absolute;
            width:80px;
            height:80px;
            top:7%;
            left: 400px;
        }
        .main_article_info{
            position: absolute;
            font-size: 40px;
            margin-top: 50px;
        }
    
       .main_sb_info{
        position: absolute;
        font-size: 40px;
        margin-top: 200px;
       }
    
       .main_posts_info{
        position: absolute;
        font-size: 40px;
        margin-top: 350px;
       }
    
       .main_security_info{
        position: absolute;
        font-size: 40px;
        margin-top: 500px;
       }
    
    
       .main_info_title{
        font-family: Roboto;
        margin-left:5px;
        margin-top: 750px;
       }



}


