
@media  ( min-width: 760px){
    
    

    .main_box{
        margin-top:8% ;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1300px;
        left: 7%;
        
            
        }

        .main_title{
            display: flex;
            font-size: 100px;
            flex-direction: column;
        
            color:white;
        }
    
        .main_title1{
            margin-top: 0px;
            margin-bottom:-35px ;
            
    
        }
        .main_title2{
            margin-top: -30px;
            margin-left: -14px;
            margin-bottom:0px ;
        
        }
 
     
.main_blog{
   color:rgb(255, 255, 255);
   width:66px;
   font-size: 25px;
   display:flex;
   margin-left: 35%;
   padding: 1px;
   position: absolute;
   text-decoration: none;
   margin-top: 16px;
   font-weight: bold;
   left: -2%;
}
.main_blog:hover{
    
    border-bottom : 2px solid white;
    cursor:pointer;
  }



.main_art{
    
    position: absolute;
    width:220px;
    font-size: 25px;
    display:flex;
    color:white;
    margin-left:11%;
    font-weight: bold;
    margin-top:15px;
    text-decoration: none;
    left: 1%;
}
    .main_art:hover{
      border-bottom : 2px solid white;
      cursor:pointer;
    }

    .main_image{
        width:470px;
        max-width: 500px;
        height: 350px;
     
    }

    .main_blog_info{
        position: absolute;
        font-size: 40px;
        color:white;
        font-family: Greyton Script;
        margin-top:250px;
        margin-left:393px ;
        width:800px;

    }

   .main_sb_info{
    position: absolute;
    font-size: 40px;
    color:white;
    font-family: Greyton Script;
    margin-top:520px;
    margin-left:393px ;
    width:800px
   }

   .main_posts_info{
    position: absolute;
    font-size: 40px;
    color:white;
    font-family: Greyton Script;
    margin-top:800px;
    margin-left:393px ;
    width:800px
   }

   .main_security_info{
    position: absolute;
    font-size: 40px;
    color:white;
    font-family: Greyton Script;
    margin-top:1100px;
    margin-left:393px ;
    width:800px
   }


   .main_info_title{
    font-family: Roboto;
    margin-left:5px;
   }

}

