


 .profile_container{
     background-color: white;
     position: absolute;
     width: 50%;
     height: 70%;
     top: 20%;
     left: 27%;
     border-radius: 10px;
 }

 .img_img{
    position: relative;
    top: 150px;
    left: 20px;
    max-height: 400px;
    
}
.img_name{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile_details{
    position: absolute;
    left: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    top: 30%;
}



.btn{
    position: absolute;
    bottom: 20px;
    padding:10px 30px;
    left: 43%;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    max-width: 100px;
    


}
.btn:hover{
    color:white;
    background-color:red;
    
}


.upload_btn{
    position: absolute;
    bottom: 140px;
    padding:10px 30px;
    left: 65%;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    max-width: 130px;
    


}
.upload_btn:hover{
    color:white;
    background-color:skyblue;
    
}

.profile_btn{
    position: absolute;
    bottom: 140px;
    padding:10px 30px;
    left: 10%;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    max-width: 130px;
    


}
.profile_btn:hover{
    color:white;
    background-color:skyblue;
    
}
