



.upladposts_whole{
    position: relative;
    max-width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(32, 109, 172);
    height: 350px;
    padding-top: 100px;
    left: 35%;
    top:20%;
    border-radius: 20px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem;
    
}

.input_file{
    position: absolute;
    left: 100px;
    font-weight: bold;
    top: 35px;
}

.input_caption{
    position: absolute;
    bottom:210px;
    padding: 3px 6px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
   
}



.progress{
    position: absolute;
    bottom: 100px;
}

.uploadposts_btn{
    position: absolute;
    left: 150px;
    top: 280px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    max-width: 130px;
    padding:10px 30px;

}

.uploadposts_btn:hover{
    background-color: skyblue;
}

.discription{
    position: absolute;
    width: 300px;
    height: 17px;
    border-radius: 10px;
}

.discription:hover{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    
}