



.upladposts_whole{
    position: relative;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    height: 450px;
    padding-top: 100px;
    left: 28%;
    top:10%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.input_file{
    position: absolute;
    left: 260px;
    font-weight: bold;
    top: 100px;
}

.input_caption{
    position: absolute;

    padding: 3px 6px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    top: 170px;
}



.progress{
    position: absolute;
    bottom: 100px;

}

.uploadposts_btn{
    position: absolute;
    left: 300px;
    top: 480px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    max-width: 130px;
    padding:10px 30px;

}

.uploadposts_btn:hover{
    background-color: skyblue;
}

.discription{
    position: absolute;
    width: 300px;
    height: 17px;
    border-radius: 10px;
    top: 350px;
}

.discription:hover{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    
}

.email_txt{
   
    position: absolute;
    top:280px;
    width:300px;
}
.emailnote{
    position: absolute;
    color:red;
    top: 230px;
}